/* Body Styles */
body {
  background-color: #121212;
  color: #FFFFFF;
}

/* Jumbotron Styles */
.jumbotron {
  background-color: #2C3539;
  color: #66CCFF;
}

/* Link Styles */
a {
  color: #66CCFF;
}

a:hover {
  color: #FFFFFF;
}

/* Horizontal Rule Styles */
hr {
  border-top: 1px solid #66CCFF;
}

/* List Styles */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Alert Styles */
.alert {
  color: #FFFFFF;
  background-color: #2C3539;
  border-color: #66CCFF;
}

.alert-info {
  color: #66CCFF;
  background-color: #2C3539;
  border-color: #66CCFF;
}

/* Button Styles */
.btn-primary {
  background-color: #66CCFF;
  border-color: #66CCFF;
}

.btn-primary:hover {
  background-color: #FFFFFF;
  color: #121212;
}

/* Glyphicon Styles */
.glyphicon {
  color: #66CCFF;
}

.glyphicon-link:before {
  content: "\e167";
}

/* Logo Styles */
.lang-logo {
  color: #66CCFF;
}

.lang-logo img {
  max-width: 100%;
  height: auto;
  filter: invert(1);
}

/* List Item Styles */
li {
  padding: 0;
  margin: 0;
}

#bottom-alert {
  padding-top: 25px;
}