body {
  background-color: #121212;
  color: #FFFFFF;
}

.jumbotron {
  background-color: #2C3539;
  color: #66CCFF;
}

a {
  color: #66CCFF;
}

a:hover {
  color: #FFFFFF;
}

hr {
  border-top: 1px solid #66CCFF;
}

ul li {
  list-style: none;
  margin-bottom: 5px;
}

ul li:before {
  content: "•";
  color: #66CCFF;
  font-size: 18px;
  margin-right: 10px;
}

.alert {
  color: #FFFFFF;
  background-color: #2C3539;
  border-color: #66CCFF;
}

.alert-info {
  color: #66CCFF;
  background-color: #2C3539;
  border-color: #66CCFF;
}

.btn-primary {
  background-color: #66CCFF;
  border-color: #66CCFF;
}

.btn-primary:hover {
  background-color: #FFFFFF;
  color: #121212;
}

.glyphicon {
  color: #66CCFF;
}

.glyphicon-link:before {
  content: "\e167";
}

.lang-logo {
  color: #66CCFF;
}

.lang-logo img {
  max-width: 100%;
  height: auto;
  filter: invert(1);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}