<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>

    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
        t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "gss487cozz");
    </script>

</head>

<body>
  <%- include ("../partials/nav.ejs") %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="/lang-logo.png">
        </a>
        <h1>Heroku Node.js</h1>
        <p>This is a sample Node application deployed to Heroku. I'm using it for testing, in this case I plan to
          display completed projects and classes.</p>
        <a type="button" class="btn btn-lg btn-primary"
          href="https://github.com/homeGrownCheese/node-js-getting-started"><span
            class="glyphicon glyphicon-download"></span> Source on GitHub</a>
      </div>
    </div>
    <div class="container">
      <div class="alert alert-info text-center" role="alert">
        To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a
          href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started on
          Heroku with Node.js</a> tutorial.
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <h3><span class="glyphicon glyphicon-info-sign"></span> Completed Classes</h3>
          <ul>
            <li>Python
              <ul>
                <li><a href="https://www.py4e.com/">Python For Everybody</a></li>
                <li><a href="https://www.dj4e.com/">Django For Everybody</a></li>
              </ul>
            </li>
            <li>JavaScript
              <ul>
                <li><a
                    href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/#basic-javascript">Basics</a>
                </li>
                <li><a href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/#es6">ES6</a>
                </li>
                <li><a
                    href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/#regular-expressions">Regular
                    Expressions</a></li>
                <li><a
                    href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/#debugging">Debugging</a>
                </li>
                <li><a
                    href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/#basic-data-structures">Basic
                    Data Structures</a></li>
                <li><a
                    href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/#basic-algorithm-scripting">Basic
                    Algorithm Scripting</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-xs-6">
          <h3><span class="glyphicon glyphicon-link"></span> Projects</h3>
          <ul>
            <li><a href="https://hmgrwnsh.pythonanywhere.com/">Personal Home Page</a></li>
            <li><a href="https://boiling-springs-45116.herokuapp.com/">Heroku Django App(built by chatgpt)</a></li>
            <li><a href="https://young-forest-92712.herokuapp.com/">Django Checklist</a></li>

          </ul>
        </div>
      </div> <!-- row -->
      <div class="alert alert-info text-center" role="alert">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt sed commodi, eaque eligendi sunt aliquam.
      </div>
    </div>

</body>

</html>